<form action="https://www.paypal.com/donate" method="post" target="_top" class="<%= local_assigns.fetch(:form_classes, 'mb-3') %>">
	<input type="hidden" name="hosted_button_id" value="QPJ2BRYWN6EYC" />
	<input type="image"
	       src="https://pics.paypal.com/00/s/M2RhMWMyOTEtMDM0Yy00YmFhLTk3MTEtNTc2ZDU4NGU1Yzdh/file.PNG"
	       border="0"
	       name="submit"
	       title="PayPal - The safer, easier way to pay online!"
	       alt="Donate with PayPal button"
	       class="max-w-[180px] h-auto drop-shadow-lg" />
	<img alt=""
	     border="0"
	     src="https://www.paypal.com/en_US/i/scr/pixel.gif"
	     width="1"
	     height="1" />
</form>

